[Desktop Entry]
Version=1.0
Name=Backup KODI & MOZILLA User Profile
Comment=Backup KODI & MOZILLA User Profile
Exec=lxterminal -t "Installation Bash Script" --geometry=120x40 -e bash -c 'cd "%k"; sudo bash ./backupdb.sh'
Icon=utilities-terminal
Type=Application
Encoding=UTF-8
Terminal=false
Categories=None;